{% extends "base.html" %}
{% block title %}Welcome to Django{% endblock %}
{% block head %}Welcome to Django{% endblock %}
{% block content %}



<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
    <p>Welcome {{ user.username }} !!!</p>
    <p> Kindly fill the feedback form below</p>
    </div></div>


 <div class="row">
            <form action="." method="post">
              <table border="0">


              <div class="form-group">
 
  <label for="username">Username:</label>
                        <input type="text" class="form-control" id="usr" placeholder="Username" name="username" value="{{ user.username }}">
                  
</div>
           
                   <div class="form-group">
                   
                    <label for="phone_no">Phone Number:</label>
                        <input type="text"  class="form-control" id="usr" placeholder="Phone Number" name="phone_no" value="{{request.form.phone_no}}">
                    </label>

</div>
  <div class="form-group">

                    <label for="neighborhood">Neighbourhood:</label>
                       <select class="form-control"  class="form-control"  placeholder="Neighbourhood" name="neighbourhood" value="{{request.form.neighbourhood}}">
                                     <option>Select</option>
                                          <option>Langata</option>
        <option>Kahawa</option>
        <option>CBD</option>
        <option>Umoja</option>
         <option>Ruiru</option>
        </select>
                
                     </div>

               <div class="form-group">

                    <label for="rating">Rating(select one):</label>
                      
                         <select class="form-control" id="sel1" placeholder="Rating" name="rating" value="{{request.form.rating}}">
                        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
         <option>5</option>
        </select>
                 </div>
                     
     <div class="form-group">

                    <label for="comments">Comments:</label>
                         <textarea class="form-control" rows="5" id="comment" value="{{request.form.comments}}"></textarea>
                   </div>
                
    <input type="submit" class="btn btn-success" value="Submit" />
   
        </table>

</form>

</div>

<div class="row">
    <a href="/logout/">Logout</a>
    </div></div>
{% endblock %}